.topSection {
    height: 35vh;
    background-image: url(../images/bg-desktop-dark.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 34%;
    height: 20vh;
    margin: auto;
    font-size: 1.8rem;
    color: white;
    letter-spacing: 1rem;
}

h4 #clock {
    margin-top: 5px;
    font-size: 2.6rem;
    display: block;
    border-radius: 10px;
    align-items: center;
    letter-spacing: 4px;
}

.header-icon {
    background-color: white;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 50%;
    align-self: center;
}

.header-icon:hover {
    opacity: 0.6;
}

.header-icon__title {
    color: blueviolet;
    padding: 2px;
    font-size: 3rem;
    font-weight: 700;
    margin: auto;
    margin-left: 6px;
    letter-spacing: 0rem;
}

body {
    background-color: #161722;
}

.TodoContainer {
    width: 34%;
    margin: auto;
    position: relative;
}

.todoInput {
    position: relative;
    background-color: #25273c;
    border: none;
    width: 100%;
    border-radius: 5px;
    padding: 3rem;
    padding-left: 5rem;
    color: #9394a5;
    margin-bottom: 3rem;
    font-size: 1.7rem;
    font-weight: 600;
}

.btn {
    position: absolute;
    top: 15px;
    left: 15px;
}

.addButton {
    width: 2rem;
    height: 2rem;
    background-color: #484b6a;
    border-radius: 50%;
    border: 1px solid #dcdde0;
    cursor: pointer;
    outline: none;
    border: none;
    margin-top: 0.5rem;
    -webkit-appearance: none;
    font-size: 2rem;
}

.addIcon {
    position: relative;
    color: #d2d3db;
}

.addIcon:hover {
    color: #57ddff;
    transition: 0.5s;
}

.addIcon:active {
    transform: scale(0.9);
}

.bottomSection {
    background-color: #25273c;
    width: 34%;
    height: 5.7rem;
    color: #9394a5;
    font-size: 1.5rem;
    padding: 0 1rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: auto;
}

.bottomSection__add {
    background-color: #25273c;
    width: 34%;
    height: 5.7rem;
    color: #9394a5;
    font-size: 1.5rem;
    padding: 0 1rem 0 1rem;
    display: flex;
    align-self: center;
    border-bottom: 1px solid #e4e5f1;
    justify-content: space-between;
    margin: auto;
    display: none;
}

.filterButtons {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 44%;
}

.allItems:hover,
.activeItems:hover,
.completedItems:hover,
.clearCompleted:hover {
    cursor: pointer;
    color: #e4e5f1;
    transition: ease-in-out 0.5s;
}

.dragAndDropHeader {
    color: #9394a5;
    font-size: 1.5rem;
    margin: auto;
    margin-top: 5rem;
    font-weight: 300;
    width: 19rem;
}

.footer {
    text-align: center;
    color: #9394a5;
    font-size: 1.8rem;
    margin-top: 4rem;
}

.footer a {
    color: white;
}

.footer a:hover {
    transform: scale(0.2);
    color: blue;
}

.checkbox-list {
    min-width: 2.5rem;
    min-height: 2.5rem;
    background-color: #484b6a;
    border-radius: 50%;
    border: 1px solid #e4e5f1;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin-left: 1.5rem;
    z-index: 3;
}

.checkbox-list:checked {
    background-image: url(../images/icon-check.svg), linear-gradient(320deg, #57ddff, #c058f3);
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-decoration: line-through;
}

.checkbox-list:hover {
    border: 1px solid #249ebc;
}

.checkbox-list:checked.text {
    text-decoration: line-through;
}

.listItem {
    font-size: 1.8rem;
    margin-left: 1.5rem;
    font-weight: 700;
}

.xClose {
    background-image: url(../images/icon-cross.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: 1rem;
    padding-right: 2rem;
    font-size: 2rem;
}

.xClose:hover {
    cursor: pointer;
}

.xClose:active {
    transform: scale(0.9);
}

.EditBtnsWrapper {
    margin-left: auto;
    padding-left: 1rem;
    min-width: 7rem;
    display: flex;
    justify-content: space-between;
    height: 2rem;
}

.edit-btn {
    color: #bbb6b6;
    border: none;
    margin-bottom: 5px;
}

.edit-btn:hover {
    cursor: pointer;
    color: #ece6e6;
    transition: ease-in-out 0.5s;
}

.edit-btn:active {
    transform: scale(0.9);
}

.iconchange {
    font-size: 2rem;
    background-color: #25273c;
    color: #9394a5;
    margin-bottom: 7px;
}

.todos {
    background-color: #25273c;
    width: 34%;
    margin: auto;
    height: 5.7rem;
    color: #9394a5;
    font-weight: 700;
    display: flex;
    align-items: center;
    border-bottom: 0.01px solid #9394a5;
    overflow-x: auto;
}

.completed {
    text-decoration: line-through;
    opacity: 0.7;
}